{% extends "boot4.html" %}

{% block title %}Города{% endblock %}

{% block content %}
    <h1 class="text-center">Города</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <table class="table table-striped">
                {% for object in objects_list %}                
                    <tr>
                        <td><a href='{% url "city:detail" pk=object.pk %}'>{{object.name}}</a></td>
                        <td><a href='{% url "city:update" pk=object.pk %}'>
                            <button type="button" class="btn btn-primary btn-sm">редактировать</button>
                        </a></td>
                        <td><a href='{% url "city:delete" pk=object.pk %}'>
                                <button type="button" class="btn btn-secondary btn-sm">удалить</button>
                        </a></td>
                    </tr>
                {% endfor %}                   
            </table>
            <a href='{% url "city:add" %}'>
                <button type="button" class="btn btn-success">добавить</button>
            </a>
        </div>
    </div>
{% endblock %}
